@model BasicCRUD.Models.Users
@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee Details</h2>

<table style="font-family:Arial" border="1">
    <thead>
        <tr> 
            <td>Employee ID </td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Prefix</td>
            <td>ProfileName</td>
            <td>DateCreated</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Prefix</td>
            <td>@Model.ProfileName</td>
            <td>@Model.DateAdded</td>
         </tr>
    </tbody>
</table>


